.App {
  text-align: center;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace
}

.title {
  font-size: 2.5em;
  margin: 0.5em 0em;
  font-weight: 700;
}

.dataContainer {
  border: 1px solid black;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  display: inline-flex;
  flex-direction: column;
}

i {
  font-size: 1.25em;
  padding-right: 0.5em;
  color: rgb(20, 20, 20);
}

.downloadBtn {
  background-color: rgb(211, 211, 211);
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;
  width: 300px;
  text-decoration: none;
  color: black;
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadBtn:hover {
  background-color: rgb(180, 180, 180);
}

.singleDataBox {
  height: auto;
  border-bottom: 1px solid black;
  padding: 1em 1.5em;
  text-align: left;
}
.singleDataBox p {
  margin: 0.35em 0em;
}

.singleDataBox .timestamp {
  border-bottom: 1px dashed rgb(190, 190, 190);
  padding-bottom: 0.5em;
}

.singleDataBox h1 {
  font-size: 1.25em;
  margin: 0;
}

.singleDataBox b {
  font-size: 1em;
  color: rgb(22, 22, 22);
  margin: 0;
}

.dataContainer:last-child {
  border-bottom: none;
}

.description {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.buttons {
  display: block;
}

.values {
  width: 300px;
}